This notebook is in continuation with **DataEngineeringUsingApacheSparkPart1** Notebook.

# Reading data and importing packages

In [3]:
listing_df = spark.table("listing") 
reviews_df = spark.table("reviews")
neighbourhood_df = spark.table("neighbourhood")

In [4]:
from pyspark.sql.types import FloatType
from pyspark.sql.functions import col
from pyspark.sql.window import Window
import pyspark.sql.functions as f
from pyspark.sql.functions import when, count, isnan, col

# 10. Customers who travel the most based on reviews data

In [6]:
reviews_df.groupBy("reviewer_id").count().orderBy(col("count").desc()).show(5)

# 11. first and last time a reviewer gave review

In [8]:
reviews_df.groupBy("reviewer_id").agg(f.min("date").alias("min"), f.max("date").alias("max")).show(5)

In [9]:
reviews_df.groupBy("reviewer_id").agg(f.min("date").alias("min"), f.max("date").alias("max")).orderBy("min", "max", ascending=True).show(5)

# 12. Difference between the maximum and minimum date reviewed. i.e., time difference between latest and oldest review and ordered by number of reviews.

In [11]:
from pyspark.sql.functions import datediff

In [12]:
# Method 1
reviews_df.groupBy("reviewer_id").agg(f.min("date").alias("min"), f.max("date").alias("max"), f.count("reviewer_id").alias("count")).withColumn("datediff", datediff("max", "min")).orderBy("count", ascending=False).show(5)

In [13]:
# Method2: same as above just with some intermediate stops and then join
df_reviews_cnt = reviews_df.groupBy("reviewer_id").count()
df_reviews_dt = reviews_df.groupBy("reviewer_id").agg(f.min("date").alias("min"), f.max("date").alias("max"))

df_reviews_cnt.join(df_reviews_dt, "reviewer_id").withColumn("datediff", datediff("max", "min")).orderBy("count", ascending=False).show(5)

# 13. Most frequent travellers based on number of reviews and time taken for those reviews

In [15]:
# Continuing from question 12
# Filter with col("count") > 30 is used because without that there were too many 
# Reviewers with just 1 reviews
df_reviews_cnt.join(df_reviews_dt, "reviewer_id").withColumn("datediff", datediff("max", "min")).withColumn("avg_days", f.round(col("datediff")/col("count"),3)).filter(col("count") > 30).orderBy(col("avg_days").asc()).show(5)